* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

table {
  padding-left: 20px;
  border-collapse: collapse;
  width: 50%;

}

tr:hover {
  background-color: #f5f5f5;
}


td,
th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-left: 20px;
}


html,
body {
  font-family: Arial,
    Helvetica,
    sans-serif;
  height: 100%;
  position: relative;
  margin: 0px;
}

form {
  padding-left: 20px;
}

header {
  text-align: center;
}

li {
  display: inline;
  padding: 5px;
}

a {
  text-decoration: none;
  color: blue;
  text-align: center;
}

p {
  text-align: center;
}

a:hover {
  color: red;
}

.errorMessage {
  color: red;
}



h2 {
  width: 100%;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: darkblue;
  border: 0 none;
  padding-left: 20px;
  font-size: 20px;
}

h1 {
  width: 100%;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: darkblue;
  border: 0 none;
  text-align: center;
}

input[type=text],
[type=email],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.top-container {
  background: #ccc;
  padding: 5px;
  border-bottom: 2px solid #0f0f0f;
}

.bottom-container {
  background: #333;
  padding: 5px;
  border-top: 2px solid #0f0f0f;
  bottom: 0;
}

.container-term {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

footer {
  text-align: center;
  height: 50px;
  color: white;
  padding: 5px;
  margin-top: 10px;
  bottom: 0px;

}

button {
  background-color: cornflowerblue;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.buyButton {
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  transition-duration: 0.4s;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.buyButton:hover {
  background-color: #4CAF50;
  color: white;
}

.btn-submit:hover {
  opacity: 1;
}

img {
  margin-left: 580px;

}

img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}


@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.decriptonForPassword {
  display: inline;
  color: cornflowerblue;
  padding: 5px;
  font-size: 14px;
}
