asgiref==3.2.7
awscli==1.18.23
bcrypt==3.1.7
blinker==1.4
boto3==1.12.23
botocore==1.15.23
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.3
crypto==1.4.1
cryptography==2.8
curve==0.1.0
cycler==0.10.0
Django==3.0.4
docutils==0.15.2
ec==0.2.5
export==0.1.2
Flask==1.1.1
Flask-Cors==3.0.8
Flask-JWT-Extended==3.24.1
Flask-Mail==0.9.1
flask-marshmallow==0.11.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.5
kiwisolver==1.1.0
MarkupSafe==1.1.1
marshmallow==3.5.1
marshmallow-sqlalchemy==0.22.3
matplotlib==3.1.3
merkletools==1.0.3
Naked==0.1.31
nltk==3.4.5
numpy==1.18.1
pandas==1.0.3
protobuf==3.15.0
pyasn1==0.4.8
pycparser==2.19
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.6
pysha3==1.0.2
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2019.3
PyYAML==5.2
requests==2.22.0
rsa==3.4.2
s3transfer==0.3.3
shellescape==3.4.1
six==1.13.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
tensorboardX==2.0
thrift==0.13.0
tqdm==4.42.0
urllib3==1.25.7
Werkzeug==0.16.0
WTForms==2.2.1
