<form name="PasswordRecovery">
  <h2>Please enter email and your body msg from the email</h2>
  <br>
  <br>

  <label>Enter Email</label><br>
  <input type="email" [(ngModel)]="email" required name="email" #emailInput="ngModel" /><br>
  <label>Enter Token</label><br>
  <input type="text" [(ngModel)]="token" required name="token" #tokenInput="ngModel" /><br>
  <button (click)="postPasswordRecovery()" #sendButton
    [disabled]="emailInput.errors?.required || tokenInput.errors?.required"
    [title]="sendButton.disabled ? 'Please fill form inputs' : ''">Send</button>
  <div class="errorMessage">{{errorMessage}}</div>
</form>
