<form>
  <h2>Login Page</h2>
  <br>
  <br>

  <label>Email</label><br>
  <input type="email" [(ngModel)]="email" required name="email" #emailInput="ngModel" /><br>
  <label>Password</label><br><br>
  <input type="password" [(ngModel)]="password" required name="password" #passwordInput="ngModel" />
  <button (click)="login()" #sendButton [disabled]="emailInput.errors?.required || passwordInput.errors?.required"
    [title]="sendButton.disabled ? 'Please fill form inputs' : ''">Login</button>
  <div class="errorMessage">{{ errorMessage}}</div>


</form>
<p>Forgot your password? <a [routerLink]="['/forgotYourPassword']"> Click Here</a></p>
