<form>
  <h2>Change Password</h2>
  <br>
  <br>
  <label>Enter new Password</label><br>
  <div class=decriptonForPassword>The password must contain lowercase letters (a-z), uppercase letters (A-Z),
    numbers (0-9), symbols (#@$%) And Password length should be 10. </div>
  <input type="password" [(ngModel)]="password" required name="email" #emailInput="ngModel" /><br>

  <button (click)="changePassword()" #sendButton [disabled]="emailInput.errors?.required"
    [title]="sendButton.disabled ? 'Please fill form inputs' : ''">Save</button>
  <div class="errorMessage">{{errorMessage}}</div>
</form>
